.home-page{
    padding: 100px 302px;
    background-color: #fff;
    color: #242424;
}

.home-page hero{
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    display: block;
}

.home-page hero h1{
    font-weight: lighter;
    font-size: 36px;
    color: #3e3e3e;
}

.anchor {
    position: fixed;
    right: 20px;
    width: 10px;
    z-index: 10;
    top: 50%;
    margin-top: -24px;
    background: transparent!important;
}

.anchor .ant-anchor-link {
    padding: initial;
}

.anchor .ant-anchor-link a{
    padding: initial;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgba(54,71,104,.6);
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-transition: background .45s cubic-bezier(.215,.61,.355,1);
    transition: background .45s cubic-bezier(.215,.61,.355,1);
}

.anchor .ant-anchor-link.ant-anchor-link-active a{
    background: #019bf0;
}

.anchor .ant-anchor-ink{
    display: none;
}


@media(max-width:980px){
   .home-page{
        padding: 100px;
    } 
}