@import '~antd/dist/antd.css';
@import '~font-awesome/css/font-awesome.css';
@import '~devicon/devicon.css';

.header {
      position: fixed;
      z-index: 1000;
      width: 100%;
      background-color: rgba(240, 240, 240, 0.8);
      box-shadow: 0 0 3px 0 rgba(0,0,0,0.22);
      backdrop-filter: blur(5px); 
      -webkit-backdrop-filter: blur(5px); 
      -o-backdrop-filter: blur(5px); 
      -moz-backdrop-filter: blur(5px); 
}

.header .logo {
     display: inline-block;
     color: #232323;
     font-size: 18px;
}

.header .logo .fa {
      vertical-align: middle;
      padding-right: 10px;
}

.ant-layout-content {
      margin-top: 64px;
}

